body{
background-color:#EE9F9B;
}
h1{
font-family:minion;
color:#A94C4C;
text-align:center;
text-decoration-line:underline;
}
.tit{
text-decoration:none;
font-family:times new roman,serif;
}
body{
background-image:url("paper.gif");
background-color:pink;
}

h3{
font-family:times,serif;
color:darkpink;
text-align:right;
font-size:medium;
}
.img{
text-align:left;
color:#B2646C;
}
img{
width:100px;
height:100px;
float:left:
}
